@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&display=swap");

body {
  font-family: "Comic Neue", cursive;
  background-color: #f9efc7;
}
.App h1 {
  text-align: center;
}
.pokemon-list {
  text-align: center;
}
.pokemon-list .poke {
  padding: 10px;
}
.paging {
  text-align: center;
}
.paging button {
  border-radius: 1rem;
}
.paging button:hover {
  background-color: #a68811;
}
